.cabecalho{
	height: 20vh;
	width: 100%;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	color: white;
	background-color: red;
}
.logo{
	font-size: 150px;
	float: left;
	margin-left: 38%;
}

.formselect{
	margin-top: 2.7%;
	width: 12%;
	height: auto;
	display: inline-block;
	float: left;
	text-align: center;
	border-radius: 10px;
	background-color: white;
	color: black;
	font-size: 30px;
	margin-left: 2.5%;

}
.dentro{
	margin-top: 15%;
	font-weight: ;
}
.focta{
	margin:auto;
	margin-bottom: 40px;
	margin-top: 10px;
}

.login{
	width: 10%;
	height: 100%;
	line-height: 20vh;
	margin-bottom: 10px;
	float:right;
	background-color: white;
	text-align: center;
	color: black;

}

.loginestilo{
	width: 100%;
	text-decoration: none;
	margin: auto;
	color: black;
	transition: 0.25s;
	height: 100%;
	background-color: red;
	border: 0;
}

.loginestilo:visited{
	text-decoration: none;
	margin: auto;
	color: black;
}

.carrinho{
	width: 10%;
	height: 100%;
	float:right;
	background-color: white;
	line-height: 20vh;
	text-align: center;
	color: black;
	border-right: 1px solid grey;
}

.carrinhoestilo{
	width: 100%;
	text-decoration: none;
	margin: auto;
	color: black;
	transition: 0.25s;
	height: 100%;
	background-color: red;
	border: 0;
}

.carrinhoestilo:visited{
	text-decoration: none;
	margin: auto;
	color: black;
}

a{
	display: block;
}


.mostraTenis{
	width: 83%;
	float: right;
	margin-left: 10px;
	margin-top: 10px;
}
.maior{
	width: 100%;
	overflow: hidden;
}

body{
	font-family: butler-bold;
	background-color: white;
	margin: 0px;
	padding: 0px;
}

select{
	background: transparent;
	border: 2px solid black;
	width: 80%;
	font-size: 18px;
	height: 34px;
	padding-left: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(arrow.png) 96% / 15% no-repeat #eee;
	font-family: butler-bold;
}

.card{
    transition: 0.3s;
    display:inline-block;
    width:19%;
    height:340px;
    margin-bottom: 50px;
    margin-left: 0.5%;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.card:hover {
    box-shadow: 0 16px 64px rgba(1,1,1,1);
}

.container{
	padding: 2px 16px;
	background-color: white;
	border-radius: 10px 10px 10px 10px;
}

.containerestilo{
	text-decoration: none;
	color: black;
	font-size: 20px;

}

img{
	border-radius: 10px 10px 0px 0px;
}




